:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#sidebar {
  user-select: none;
  cursor: pointer;
}

.overview-section-children-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.overview-entry.section {
  border-left: white 2px solid;
  margin: 2px 0px;
}

.overview-entry.section > .overview-entry-header {
  margin: 0;
  background: green;
}

.overview-entry.section > .overview-entry-header a {
  text-decoration: none;
  color: black;
}

.overview-entry.section > .section-children {
  padding: 2px;
  overflow: hidden;
}

.overview-entry.section.selected > .overview-entry-header {
  background: #AAA;
  color: black;
}

.overview-entry.section.expanded > .section-children {
  height: auto;
}

.overview-entry.section.collapsed > .section-children {
  height: 0;
}
